<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">API Explorer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item"><a routerLink="/mydbapi" class="nav-link">My Local DB Api</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/maps">Google Maps API</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nasa APIs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a routerLink="/nasa/APOD" class="dropdown-item">Astronomy Picture of the Day API</a>
          <a routerLink="/nasa/NEO" class="dropdown-item">Near Earth Objects API</a>
          <a routerLink="/nasa/InSight" class="dropdown-item">InSight: Mars Weather Service API</a>
        </div>
      </li>
    </ul>
  </div>
</nav>